#form {
  /* background: #F5F5F5; */
   /* padding: 3px;  */
     /* position: fixed;   
    bottom: 0;  
    width: 68%;   */
    /* margin-left:60px;  */
   /* padding-left: 20xp; */
}

.form-message{
  margin-left: 60px;
}

#input-form{
  position: fixed;
  bottom: 0;
  float: right;
  z-index: 1;
}

#input-form input, button {
    height: 50px; 
}

.chat {
  /* padding: 30px 30px 20px; */
  margin-left: 5px;
    margin-bottom:70px;
   border-bottom: 2px solid white;  
}
.chat .chat-history .message-data {
  margin-bottom: 15px;
}
.chat .chat-history .message-data-time {
  color: #a8aab1;
  padding-left: 6px;
}
.chat .chat-history .message {
  color: white;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 30px;
  width: 100%;
  position: relative;
}
.chat .chat-history .message:after {
    content: "";
    position: absolute;
    top: -15px;
    left: 20px;
    border-width: 0 15px 15px;
    border-style: solid;
    border-color: #CCDBDC transparent;
    display: block;
    width: 0;
}
.chat .chat-history .you-message {
  background: #CCDBDC;
  color:#003366;
}
.chat .chat-history .me-message {
  background: #acb5c4;
  color:#003366;
  /*E9724C*/
  text-align: right;
}
.chat .chat-history .server-message {
  /*background: #ccc;*/
  text-align: center;
  padding: 20px;
  margin-bottom: 30px;
}
.chat .chat-history .me-message:after {
  border-color: #acb5c4 transparent;
  right: 20px;
  top: -15px;
  left: auto;
  bottom:auto;
}
.chat .chat-history .server-message:after {
  border-color: #ccc transparent;
  right: 20px;
  top: -15px;
  left: auto;
  bottom:auto;
}
.chat .chat-message {
  padding: 30px;
}
.chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
  font-size: 16px;
  color: gray;
  cursor: pointer;
}

.chat-ul li{
    list-style-type: none;
    margin-right: 50px;
}




/* admin */
.admin {
    color: grey;
    text-align: center;
}


/* pages */
.pages {
  /* z-index: 1000; */
  /* position: absolute */
  /* height: 100%;
  margin: 0;
  padding: 0;
  width: 100%; */
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}


/* login page */

.login.page {
  background-color: #182335;
}

.login.page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;

  text-align: center;
  top: 50%;
  width: 100%;
}

.login.page .form .usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
}

.login.page .title {
  font-size: 200%;
}

.login.page .usernameInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.login.page .title, .login.page .usernameInput {
  color: #fff;
  font-weight: 100;
}

.error {
 padding-top: 20px;
 font-size: 18px;
 color: red;
}

.rooms {
  margin-left: 20px;
  margin-top: 20px;
}

.user {
  padding: 25px;
  margin: 15px;
  border: 1 #eaeff7;
  font-size: 14px;
  background-color: #eaeff7;
  border-radius: 5px;
  /* height: 20%; */
}


/* message */
.user {
  position: relative;
  /* height: auto; */
  /* display: inline-block */
}



.user  .left{
  float: left;
  width: 10%;
}

.user .right {
  float: right;
  width: 90%;
  text-align: right;
  border-left: solid 1px #223047;
}
 
 .user .time{
  float: right;
  color: grey;
  /* font-family: cu */
}  

.admin {
  margin-bottom: 11px;
}

@media (min-width: 768px) {
  .left-room-user {
    overflow:scroll-y;  
    position: fixed;   

  }
  .right-chat {
    float: right; 
  }
}
